<div class="container-fluid">
  <div class="backgroundright"></div>
  <img class="signupimage" src="/assets/login.jpg" />
  <div class="signuptitle">SIGN UP</div>
  <form (ngSubmit)="signUp()">
    <div>
      <label for="firstname">Firstname</label>
      <input
        type="text"
        class="form-control"
        name="firstname"
        [(ngModel)]="firstname"
        required
      />
    </div>
    <div>
      <label for="middlename">Middle Initial (Optional)</label>
      <input
        type="text"
        class="form-control"
        name="middlename"
        [(ngModel)]="middlename"
      />
    </div>
    <div>
      <label for="lastname">Lastname</label>
      <input
        type="text"
        class="form-control"
        name="lastname"
        [(ngModel)]="lastname"
      />
    </div>
    <div>
      <label for="email">Email</label>
      <input
        type="email"
        class="form-control"
        name="email"
        [(ngModel)]="email"
      />
    </div>
    <div>
      <label for="contact">Contact</label>
      <input
        type="text"
        class="form-control"
        name="contact"
        [(ngModel)]="contact"
      />
    </div>
    <div>
      <label for="password">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="password"
      />
    </div>
    <div>
      <label for="confirm_password">Confirm Password</label>
      <input
        type="password"
        class="form-control"
        name="confirm_password"
        [(ngModel)]="confirm_password"
      />
    </div>
    <button type="submit" class="signupbtn">Sign Up</button>
  </form>
</div>
