<body>
    <div class="backgroundright"></div>
    <img class="signupimage" src="/assets/login.jpg">
    <div class="signuptitle">SIGN UP</div>
    
    <div class="inputuser">
    <input class= "usernameinput" type="text" placeholder="Username">
    <img class="userimg" src="/assets/username.png">
</div>

<div class="inputemail">
    <input class= "emailinput" type="text" placeholder="Email">
    <img class="emailimg" src="/assets/username.png">
</div>
<div class="inputcontact">
    <input class= "contactinput" type="text" placeholder="Contact Number">
    <img class="contactimg" src="/assets/number.png">
</div>
<div class="inputpassword">
    <input class= "passwordinput" type="text" placeholder="Password">
    <img class="passwordimg" src="/assets/password.png">
</div>
<div class="inputpasswordverify">
    <input class= "passwordverifyinput" type="text" placeholder="Verify Password">
    <img class="passwordverifyimg" src="/assets/password.png">
</div>
<div class="buttons">
    <button (click)="goToPage('login')" class="signupbtn">Sign Up</button>
</div>
</body>