.backgroundright{
position: absolute;
width: 50%;
height: 100%;
right: 0px;
top: 0px;
background: linear-gradient(217.64deg, #9181F4 -5.84%, #97E7E1 106.73%);
}
.signuptitle{
position: absolute;
width: 150px;
height: 21px;
left: 21%;
top: 162px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 45px;
text-transform: uppercase;
color: #000000;
}
.inputuser{
position: absolute;
width: 364px;
height: 52px;
left: 159px;
top: 228px;
}
.userimg{
    position: absolute;
    left:35%;
    top:66px;
}
.usernameinput{
    padding-left: 40px;
    position: absolute;
    width: 364px;
    height: 52px;
    left: 110px;
    top: 50px;
    background: rgba(240, 237, 255, 0.8);
    border-radius: 16px;
}
.signupimage{
    box-sizing: border-box;
    position: absolute;
    width: 550px;
    height: 700px;
    left: 61%;
    top: 13%;
    border: 1px solid rgba(255, 255, 255, 0.52);
    backdrop-filter: blur(6.8px);
    border-radius: 46px;
    }
    .signupbtn{
        position: absolute;
        width: 124px;
        height: 52px;
        left: 390px;
        top: 690px;
        background: linear-gradient(99.78deg, #9181F4 -5.85%, #5038ED 109.55%);
        box-shadow: 0px 8px 21px rgba(0, 0, 0, 0.16);
        border-radius: 16px;
    }
    .inputemail{
        position: absolute;
        width: 364px;
        height: 52px;
        left: 159px;
        top: 310px;
    }
    .emailinput{
        padding-left: 40px;
        position: absolute;
        width: 364px;
        height: 52px;
        left: 110px;
        top: 50px;
        background: rgba(240, 237, 255, 0.8);
        border-radius: 16px;
    }
    .emailimg{
    position: absolute;
    left:35%;
    top:66px;
}
        .inputcontact{
            position: absolute;
            width: 364px;
            height: 52px;
            left: 159px;
            top: 310px;
        }
            .contactinput{
            padding-left: 40px;
            position: absolute;
            width: 364px;
            height: 52px;
            left: 110px;
            top: 130px;
            background: rgba(240, 237, 255, 0.8);
            border-radius: 16px;
        }
        .contactimg{
                position: absolute;
                left:35%;
                top:151px;
            }
            .inputpassword{
                position: absolute;
                    width: 364px;
                    height: 52px;
                    left: 159px;
                    top: 310px;
                    }
                    .passwordinput{
                        padding-left: 40px;
                    position: absolute;
                    width: 364px;
                    height: 52px;
                    left: 110px;
                    top: 210px;
                    background: rgba(240, 237, 255, 0.8);
                    border-radius: 16px;
                    }
                    .passwordimg{
                        position: absolute;
                        left:35%;
                        top:226px;
                    }
                        .inputpasswordverify{
                            position: absolute;
                            width: 364px;
                            height: 52px;
                            left: 159px;
                            top: 310px;
                        }
                            .passwordverifyinput{
                            padding-left: 40px;
                            position: absolute;
                            width: 364px;
                            height: 52px;
                            left: 110px;
                            top: 290px;
                            background: rgba(240, 237, 255, 0.8);
                            border-radius: 16px;
                            }
                            .passwordverifyimg{
                                position: absolute;
                                left:35%;
                                top:305px;
                            }
