<body>
    <nav>
        <img src="assets/logo1.jpg" class="logo" alt="Dynamic Image">
    <div class="title">Car Management System</div>
    <div class="greeting">Hello Admin!</div>
    </nav>
    <div class="background"></div>
    <section>
        <ul>
            <li><button class="main">Dashboard</button></li>
            <li><button (click)="goToPage('login')">Users</button></li>
            <li><button (click)="goToPage('login')">Cars Sold</button></li>
            <li><button (click)="goToPage('login')">Logs</button></li>     
        </ul>
    </section>
    </body>