<body>
    <div class="backgroundright"></div>
    <img class="loginimage" src="/assets/login.jpg">
    <div class="logintitle">LOGIN</div>
    
    <div class="inputuser">
    <input class= "usernameinput" type="text" placeholder="Username">
    <img class="userimg" src="/assets/username.png">
</div>

<div class="inputpass">
    <input class= "passwordinput" type="text" placeholder="Password">
    <img class="passimg" src="/assets/password.png">
</div>
<div class="buttons">
    <button (click)="goToPage('home')" class="loginbtn">Login</button>
    <button (click)="goToPage('signup')" class="signupbtn">Sign Up</button>
</div>
</body>